.sunset{
  width: 100%;
  min-height: 634px;
  max-height: 730px;
  object-fit: cover;
  object-position: top;

}
*{
  margin: 0%;
  padding: 0%;
}

.logo{
  position: absolute;
  top: 0;
  left: 0;
  

}



      